body {
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial, sans-serif;
	background: linear-gradient(135deg, #9c39ff, #fff);
}

.hidden {
	display : none;
}

.login-container {
	width: 100%;
	max-width: 400px;
	padding: 0 2rem 3rem;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	height: auto;
}

.txt {
	margin-bottom: 1.5rem;
	font-family: "Pacifico", serif;
	font-size: 4rem;
	color: #333;
	text-align: center;
}

.login-form h1 {
	margin-bottom: 1.5rem;
	font-family: "Pacifico", serif;
	font-size: 4rem;
	color: #333;
	text-align: center;
}

.input-group {
	margin: 0 2rem 1.2rem 0;
}

.input-group label {
	display: block;
	margin-bottom: 0.5rem;
	color: #555;
	font-weight: bold;
}

.input-group input {
	width: 100%;
	padding: 0.8rem;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.login-button {
	width: 100%;
	padding: 0.8rem;
	font-size: 1rem;
	color: #fff;
	background: #000;
	border: 0;
	border-radius: 10px;
	cursor: pointer;
	transition: background 0.3s;
}

.login-button:hover {
	background: #696969;
}

.form-footer {
	margin-top: 1rem;
	text-align: center;
}

.form-footer a {
	font-weight: bold;
	text-decoration: none;
}

.form-footer a:hover {
	text-decoration: underline;
}

.link {
	color: #000;
	font-weight: bold;
}

.footer {
	position: absolute;
	bottom: 0;
}

/* le switch */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin-bottom: 20px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: .4s;
	border-radius: 50%;
}

.switch-with-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.switch-label {
  font-size: 16px;
  color: #333;
}

input:checked + .slider {
	background-color: #4CAF50;
}

input:checked + .slider:before {
	transform: translateX(26px);
}
